if TARGET_RTX_A6_MX6Q

config SYS_BOARD
	default "rtx_a6_mx6q"

config SYS_VENDOR
	default "retronix"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "retronix/rtx_a6_mx6q"     if !TARGET_RTX_A6_MX6Q_MFG
	default "retronix/rtx_a6_mx6q_mfg" if TARGET_RTX_A6_MX6Q_MFG

config EXTRA_ENV_USE_DTB
	bool "kernel is dtb type."
	default y
	help
	  Kernel has DTB.

config BOOTARGS_GEN
	string "init=/sbin/init root=/dev/mmcblk0p1 rootwait rw"
	help
	  GUI port hdmi,vga or dual-hdmi.

config GUIPORT
	string "hdmi"
	help
	  GUI port hdmi,vga or dual-hdmi.

config BOOTARGS_HDMI
	string "hdmi"
	help
	  GUI port hdmi,vga or dual-hdmi.

config BOOTARGS_VGA
	string "hdmi"
	help
	  GUI port hdmi,vga or dual-hdmi.

config BOOTARGS_DUAL_HDMI
	string "hdmi"
	help
	  GUI port hdmi,vga or dual-hdmi.

config BOOTARGS_GUIMEM
	string "fbmem=28M,28M gpumem=176M vmalloc=400M"
	help
	  fbmem,gpumem and vmallock define.

config UBOOT_MMCNUM
	string "2"
	help
	  uboot mmc num.

config UPDATEROOT
	string "/dev/mmcblk1p1"
	help
	  update and reovery filesystem mount path.

endif
