if TARGET_RTX_BISHOP_MX53

config SYS_BOARD
	default "rtx_bishop_mx53"

config SYS_VENDOR
	default "retronix"

config SYS_SOC
	default "mx5"

config SYS_CONFIG_NAME
	default "retronix/rtx_bishop_mx53"     if !TARGET_RTX_BISHOP_MX53_MFG
	default "retronix/rtx_bishop_mx53_mfg" if TARGET_RTX_BISHOP_MX53_MFG

endif
