CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_SPL_GPIO_SUPPORT=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_MMC_SUPPORT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL_LIBDISK_SUPPORT=y
CONFIG_SPL_WATCHDOG_SUPPORT=y
# CONFIG_SPL_USB_HOST_SUPPORT is not set
# CONFIG_SPL_USB_SUPPORT is not set
# CONFIG_VIDEO is not set
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=arch/arm/imx-common/spl_sd.cfg,SPL,MX6QDL"
CONFIG_BOOTDELAY=3
# CONFIG_CONSOLE_MUX is not set
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
CONFIG_SPL=y
# CONFIG_SPL_FAT_SUPPORT is not set
CONFIG_SPL_EXT_SUPPORT=y
CONFIG_SPL_I2C_SUPPORT=y
CONFIG_SPL_OS_BOOT=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_BOOTZ=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_MMC=y
CONFIG_CMD_SF=y
CONFIG_CMD_I2C=y
CONFIG_CMD_USB=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_STMICRO=y
# CONFIG_PCI is not set
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_USB_GADGET=y
CONFIG_CI_UDC=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_G_DNL_MANUFACTURER="FSL"
CONFIG_G_DNL_VENDOR_NUM=0x0525
CONFIG_G_DNL_PRODUCT_NUM=0xa4a5
# CONFIG_VIDEO_SW_CURSOR is not set
CONFIG_OF_LIBFDT=y


#
# Retronix
#
CONFIG_TARGET_RTX_PICO_B10=y
# CONFIG_TARGET_RTX_PICO_B21 is not set
# CONFIG_RTX_ANDROID_SUPPORT is not set

#
# Memory DDR Chip Select
#
CONFIG_RTX_DDR_IS_MICRO_MT41K128M16=y
# CONFIG_RTX_DDR_IS_MICRO_MT41K256M16 is not set

#
# Retronix Zero Partition Memory Map and Size
#
CONFIG_RTX_PARTITION_BLOCK_SIZE=0x200
CONFIG_RTX_PARTITION_0_MBR_OFFSET=0
CONFIG_RTX_PARTITION_0_MBR_SIZE=0x2
CONFIG_RTX_PARTITION_0_UBOOT_OFFSET=0x2
CONFIG_RTX_PARTITION_0_UBOOT_SIZE=0x5FE
CONFIG_RTX_PARTITION_0_DATA_OFFSET=0x600
CONFIG_RTX_PARTITION_0_DATA_SIZE=0x2
CONFIG_RTX_PARTITION_0_RECOVERY_KERNEL_OFFSET=0x800
CONFIG_RTX_PARTITION_0_RECOVERY_KERNEL_SIZE=0x5400
CONFIG_RTX_PARTITION_0_RECOVERY_KERNEL_DTB_OFFSET=0x5C00
CONFIG_RTX_PARTITION_0_RECOVERY_KERNEL_DTB_SIZE=0x400
CONFIG_RTX_PARTITION_0_UBOOT_ARGUMENT_OFFSET=0x6000
CONFIG_RTX_PARTITION_0_UBOOT_ARGUMENT_SIZE=0x400
CONFIG_RTX_PARTITION_0_KERNEL_DTB_OFFSET=0x6400
CONFIG_RTX_PARTITION_0_KERNEL_DTB_SIZE=0x400
CONFIG_RTX_PARTITION_0_KERNEL_OFFSET=0x6800
CONFIG_RTX_PARTITION_0_KERNEL_SIZE=0x5800
CONFIG_RTX_PARTITION_0_RAM_DISK0_OFFSET=0xC000
CONFIG_RTX_PARTITION_0_RAM_DISK0_SIZE=0x1000
CONFIG_RTX_PARTITION_0_RAM_DISK1_OFFSET=0xD000
CONFIG_RTX_PARTITION_0_RAM_DISK1_SIZE=0x2000
CONFIG_RTX_PARTITION_0_RAM_DISK2_OFFSET=0xF000
CONFIG_RTX_PARTITION_0_RAM_DISK2_SIZE=0x5000
CONFIG_RTX_PARTITION_0_LOGO_OFFSET=0x1E000
CONFIG_RTX_PARTITION_0_LOGO_SIZE=0x2000
CONFIG_RTX_PARTITION_0_MAX_SIZE=0x20000

#
# Retronix Loader Memory Map
#
CONFIG_RTX_LOADADDR=0x10800000
CONFIG_RTX_LOADADDR_DTB=0x11C00000
CONFIG_RTX_LOADADDR_RD=0x11D00000

#
# Retronix Debug Port
#
CONFIG_RTX_DEBUG_UART_PORT=1

#
# U-Boot Environment
#

#
# Display
#

#
# Select output interface
#
CONFIG_RTX_BOOT_ARGS_VGA_EN=y
CONFIG_RTX_BOOT_ARGS_HDMI_EN=y
CONFIG_RTX_BOOT_ARGS_LVDS0_EN=y
CONFIG_RTX_BOOT_ARGS_LVDS1_EN=y

#
# The output interface argument
#
CONFIG_RTX_BOOT_ARGS_VGA="1024x768@60,if=RGB24,bpp=32"
CONFIG_RTX_BOOT_ARGS_HDMI="1920x1080M@60,if=RGB24,bpp=32"
CONFIG_RTX_BOOT_ARGS_LVDS0="1024x768@60,if=RGB24,bpp=32"
CONFIG_RTX_BOOT_ARGS_LVDS1="1024x768@60,if=RGB24,bpp=32"

#
# Set Video argument
#
# CONFIG_RTX_BOOT_ARGS_VIDEO1_SEL_NONE is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO1_SEL_VGA is not set
CONFIG_RTX_BOOT_ARGS_VIDEO1_SEL_HDMI=y
# CONFIG_RTX_BOOT_ARGS_VIDEO1_SEL_LVDS0 is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO1_SEL_LVDS1 is not set
CONFIG_RTX_BOOT_ARGS_VIDEO1=2
CONFIG_RTX_BOOT_ARGS_VIDEO2_SEL_NONE=y
# CONFIG_RTX_BOOT_ARGS_VIDEO2_SEL_VGA is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO2_SEL_HDMI is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO2_SEL_LVDS0 is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO2_SEL_LVDS1 is not set
CONFIG_RTX_BOOT_ARGS_VIDEO2=0
CONFIG_RTX_BOOT_ARGS_VIDEO3_SEL_NONE=y
# CONFIG_RTX_BOOT_ARGS_VIDEO3_SEL_VGA is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO3_SEL_HDMI is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO3_SEL_LVDS0 is not set
# CONFIG_RTX_BOOT_ARGS_VIDEO3_SEL_LVDS1 is not set
CONFIG_RTX_BOOT_ARGS_VIDEO3=0

#
# Memory
#
CONFIG_RTX_BOOT_ARGS_VMALLOC=400
CONFIG_RTX_BOOT_ARGS_GPU_MEM=175

#
# Ethernet MAC
#
CONFIG_RTX_BOOT_ARGS_DEFAULT_MAC01="1E:ED:19:27:1A:B3"
CONFIG_RTX_BOOT_ARGS_DEFAULT_MAC02="1E:ED:19:27:1A:B4"

#
# Storage
#
CONFIG_RTX_BOOT_ARGS_ROOTFS_MMC_NUM=1
CONFIG_RTX_BOOT_ARGS_ROOTFS_PARTITION=1

#
# Retronix Watchdog
#
CONFIG_RTX_EFM32=y

#
# Retronix Watchdog Options
#
CONFIG_RTX_EFM32_I2C_BUS=2
CONFIG_RTX_EFM32_WATCHDOG_TIME=0

#
# Retronix Boot System
#
CONFIG_RTX_BOOT_SYSTEM=y

#
# Boot System Options
#
CONFIG_RTX_BOOT_SYSTEM_MAX_EXTSD=4

#
# Function Select
#
# CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_PASSWORD is not set
# CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_CHANG_PW is not set
# CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_CHG_STORAGE is not set
CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_MENU=y
CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_UD_EXTSD=y
CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_UD_USB=y
CONFIG_RTX_BOOT_SYSTEM_OPTIONS_FUNC_SCANFILE_SELF=y

#
# Extern Command
#
CONFIG_RTX_BOOT_CMD_RESET_ENV=y
CONFIG_RTX_BOOT_CMD_RESET_SETTING=y
CONFIG_RTX_BOOT_SYSTEM_SHOW_SETTING_INFO=y
