CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/retronix/rtx_a6_mx6q/micron_ddr3_mx6q_1g.cfg,MX6Q"
CONFIG_ARM=y
CONFIG_TARGET_RTX_A6_MX6Q=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
CONFIG_EXTRA_ENV_USE_DTB=y
CONFIG_BOOTARGS_GEN="init=/sbin/init root=/dev/mmcblk0p1 rootwait rw"
CONFIG_BOOTARGS_HDMI="video=mxcfb0:dev=hdmi,1920x1080M@60,if=RGB24,bpp=32 video=mxcfb1:off video=mxcfb2:off"
CONFIG_BOOTARGS_VGA="video=mxcfb0:dev=lcd,1024x768@60,if=RGB24,bpp=32 video=mxcfb1:off video=mxcfb2:off"
CONFIG_BOOTARGS_DUAL_HDMI="video=mxcfb0:dev=lcd,1024x768@60,if=RGB24,bpp=32 video=mxcfb1:dev=hdmi,1920x1080M@60,if=RGB24,bpp=32 video=mxcfb2:off"
CONFIG_BOOTARGS_GUIMEM="fbmem=28M,28M gpumem=176M vmalloc=400M ldb=spl0"
CONFIG_GUIPORT="hdmi"
CONFIG_UBOOT_MMCNUM="2"
CONFIG_UPDATEROOT="/dev/mmcblk1p1"

