CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/retronix/rtx_pitx_mx6q/nanya_ddr3_mx6q_1g.cfg,MX6Q"
CONFIG_ARM=y
CONFIG_TARGET_RTX_PITX_MX6Q=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
