CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_RTX_PITXP_MX6Q=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0xC00000
CONFIG_DM_VIDEO=y
# CONFIG_VIDEO_BPP8 is not set
# CONFIG_VIDEO_BPP32 is not set
CONFIG_SYS_WHITE_ON_BLACK=y
CONFIG_VIDEO_IPUV3=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/retronix/rtx_pitxP_mx6q/nanya_ddr3_mx6q_1g.cfg,MX6Q"
CONFIG_IMX_OPTEE=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_BOOTDELAY=3
# CONFIG_CONSOLE_MUX is not set
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
CONFIG_SUPPORT_RAW_INITRD=y
CONFIG_BOUNCE_BUFFER=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_BOOTZ=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_PCI=y
CONFIG_CMD_SF=y
CONFIG_CMD_I2C=y
CONFIG_CMD_USB_MASS_STORAGE=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SF_DEFAULT_BUS=0
CONFIG_SF_DEFAULT_MODE=0
CONFIG_SF_DEFAULT_SPEED=20000000
CONFIG_SF_DEFAULT_CS=0
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_MXC_SPI=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_USB_GADGET_MANUFACTURER="FSL"
CONFIG_USB_GADGET_VENDOR_NUM=0x0525
CONFIG_USB_GADGET_PRODUCT_NUM=0xa4a5
CONFIG_CI_UDC=y
# CONFIG_VIDEO_SW_CURSOR is not set
# CONFIG_OF_LIBFDT=y

CONFIG_DEFAULT_DEVICE_TREE="rtx-imx6q-pitx-b21"
CONFIG_OF_CONTROL=y
CONFIG_DM_GPIO=y
CONFIG_FSL_USDHC=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_IMX6=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_PFUZE100=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_DM_ETH=y
CONFIG_PHYLIB=y
CONFIG_MII=y
CONFIG_PCI=y
CONFIG_DM_PCI=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y

CONFIG_CMD_FASTBOOT=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_UUU_SUPPORT=y
CONFIG_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0x12C00000
CONFIG_FASTBOOT_BUF_SIZE=0x40000000
CONFIG_FASTBOOT_FLASH=y
CONFIG_EFI_PARTITION=y

CONFIG_EXTRA_ENV_USE_DTB=y
CONFIG_EXTRA_ENV_BOOTCMD_GEN="run loadimage; bootm ${loadaddr} - ${dtb_loadaddr}"
CONFIG_BOOTARGS_GEN="${startinit} ${mmcrootpath};if test -n ${mac2_val};then setenv bootargs ${bootargs} smsc_mac=${mac2_val};fi;"
CONFIG_MMCROOTPATH="root=/dev/mmcblk0p1 rootwait rw"
CONFIG_BOOTARGS_HDMI="video=mxcfb0:dev=hdmi,${def_video},if=RGB24,bpp=32 video=mxcfb1:off video=mxcfb2:off fbmem=28M hpddis"
CONFIG_BOOTARGS_VGA="video=mxcfb0:dev=ldb,1024x768@60,if=RGB24,bpp=32 video=mxcfb1:dev=ldb,1024x768@60,if=RGB24,bpp=32 video=mxcfb2:off fbmem=18M,18M"
CONFIG_BOOTARGS_DUAL_HDMI="video=mxcfb0:dev=hdmi,${def_video},if=RGB24,bpp=32 video=mxcfb1:dev=ldb,1024x768@60,if=RGB24,bpp=32 video=mxcfb2:dev=ldb,1024x768@60,if=RGB24,bpp=32 fbmem=28M,18M,18M"
CONFIG_BOOTARGS_GUIMEM="gpumem=176M vmalloc=400M"
CONFIG_GUIPORT="hdmi"
CONFIG_UBOOT_MMCNUM="2"
CONFIG_UPDATEROOT="/dev/mmcblk1p1"
CONFIG_VGA_VIDEO="1920x1080@60"
CONFIG_DEF_LOADADDR=0x10800000
CONFIG_DTB_LOADADDR=0x11C00000
CONFIG_RD_LOADADDR=0x11D00000
#CONFIG_BOOTSEL_FUNC_PASSWORD=y
#CONFIG_BOOTSEL_FUNC_CHANG_PW=y
CONFIG_BOOTSEL_FUNC_UD_EXTSD=y
#CONFIG_BOOTSEL_FUNC_UD_USB=y
CONFIG_BOOTSEL_FUNC_MENU=y
CONFIG_BOOTSEL_FUNC_CHG_STORAGE=y
#CONFIG_BOOTSEL_FUNC_SCANFILE_SELF=y
CONFIG_BOOTSEL_FUNC_USBSTART=y
CONFIG_MCU_WATCHDOG_TIME=0
