if TARGET_RTX_PICO_B21

config SYS_BOARD
	default "rtx_pico_mx6q_b21"

config SYS_VENDOR
	default "../Retronix/board"

config SYS_CONFIG_NAME
	default "../../Retronix/include/configs/rtx_pico_mx6q_b21"

endif
